body{
  background-color: #F9F3EE;
}
.top{
  font-size: 20px;
}
.image{
  display: inline-block;
}
.h1{
  display: inline-block;
  font-size: 30px;
}
.heading{
  position: relative;
  bottom: 120px;
}
.para{
font-size: 40px;
position: relative;
bottom: 120px;
}
.box{
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 3px;
  background-color: black;
  height: 20px;
  width: 165px;
  position: relative;
  bottom: 100px;
  left: 650px;
}
